dist: xenial   # required for Python >= 3.7
language: python

matrix:
  fast_finish: true
  include:
    - python: 2.7
      env:
      - TOX_ENV=py27-dj19-drf33
      - TOX_ENV=py27-dj110-drf33
      - TOX_ENV=py27-dj111-drf37
    - python: 3.5
      env:
      - TOX_ENV=py35-dj111-drf37
      - TOX_ENV=py35-dj20-drf37
      - TOX_ENV=py35-dj21-drf37
      - TOX_ENV=py35-dj22-drf37
      - TOX_ENV=py35-dj111-drf39
      - TOX_ENV=py35-dj20-drf39
      - TOX_ENV=py35-dj21-drf39
      - TOX_ENV=py35-dj22-drf39
    - python: 3.6
      env:
      - TOX_ENV=py36-dj111-drf37
      - TOX_ENV=py36-dj20-drf37
      - TOX_ENV=py36-dj21-drf37
      - TOX_ENV=py36-dj22-drf37
      - TOX_ENV=py36-dj111-drf39
      - TOX_ENV=py36-dj20-drf39
      - TOX_ENV=py36-dj21-drf39
      - TOX_ENV=py36-dj22-drf39
      - TOX_ENV=py36-dj30-drf310
    - python: 3.7
      env:
      - TOX_ENV=py37-dj111-drf37
      - TOX_ENV=py37-dj20-drf37
      - TOX_ENV=py37-dj21-drf37
      - TOX_ENV=py37-dj22-drf37
      - TOX_ENV=py37-dj111-drf39
      - TOX_ENV=py37-dj20-drf39
      - TOX_ENV=py37-dj21-drf39
      - TOX_ENV=py37-dj22-drf39
      - TOX_ENV=py37-dj30-drf310

install:
  - travis_retry pip install "tox~=3.22.0" "coverage<4" "setuptools<40.0.0"

script:
  - tox -ve $TOX_ENV

after_success:
  - pip install codecov
  - codecov -e TOX_ENV
