name: CI

on:
- push
- pull_request

jobs:
  main:
    strategy:
      matrix:
        include:
        - python: '3.9'
          tox_env: 'py39-dj42-drf316'
        - python: '3.10'
          tox_env: 'py310-dj42-drf316'
        - python: '3.11'
          tox_env: 'py311-dj42-drf316'
        - python: '3.12'
          tox_env: 'py312-dj42-drf316'
        - python: '3.10'
          tox_env: 'py310-dj52-drf316'
        - python: '3.11'
          tox_env: 'py311-dj52-drf316'
        - python: '3.12'
          tox_env: 'py312-dj52-drf316'
        - python: '3.13'
          tox_env: 'py313-dj52-drf316'
        - python: '3.14'
          tox_env: 'py314-dj52-drf316'

    runs-on: ubuntu-latest
    name: Python ${{ matrix.python }} with packages ${{ matrix.tox_env }}
    steps:
    - uses: actions/checkout@v5

    - name: set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python }}

    - name: install dependencies
      run: python -m pip install tox coverage

    - name: run test suite
      env:
        TOX_ENV: ${{ matrix.tox_env }}
      run: tox -ve $TOX_ENV

    - name: run coverage
      env:
        TOX_ENV: ${{ matrix.tox_env }}
      run: |
        python -m pip install codecov
        codecov -e TOX_ENV
