name: CI

on:
- push
- pull_request

jobs:
  main:
    strategy:
      matrix:
        include:
        - python: '3.7'
          tox_env: 'py37-dj111-drf311'
        - python: '3.7'
          tox_env: 'py37-dj22-drf311'
        - python: '3.7'
          tox_env: 'py37-dj22-drf313'
        - python: '3.7'
          tox_env: 'py37-dj32-drf314'
        - python: '3.8'
          tox_env: 'py38-dj32-drf314'
        - python: '3.9'
          tox_env: 'py39-dj32-drf314'
        # - python: '3.10'
        #   tox_env: 'py310-dj32-drf314'
        - python: '3.8'
          tox_env: 'py38-dj41-drf314'
        - python: '3.9'
          tox_env: 'py39-dj41-drf314'
        # - python: '3.10'
        #   tox_env: 'py310-dj41-drf314'
        # - python: '3.11'
        #   tox_env: 'py311-dj41-drf314'

    runs-on: ubuntu-22.04
    name: Python ${{ matrix.python }} with packages ${{ matrix.tox_env }}
    steps:
    - uses: actions/checkout@v3

    - name: set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}

    - name: install dependencies
      run: python -m pip install tox coverage

    - name: run test suite
      env:
        TOX_ENV: ${{ matrix.tox_env }}
      run: tox -ve $TOX_ENV

    - name: run coverage
      env:
        TOX_ENV: ${{ matrix.tox_env }}
      run: |
        python -m pip install codecov
        codecov -e TOX_ENV
