name: CI

on:
  push:
    branches: ['master', 'ci']
  pull_request:

jobs:
  main:
    strategy:
      matrix:
        include:
        - python: '3.6'
          tox_env: 'py36-dj111-drf37'

        - python: '3.6'
          tox_env: 'py36-dj20-drf37'

        - python: '3.6'
          tox_env: 'py36-dj21-drf37'

        - python: '3.6'
          tox_env: 'py36-dj22-drf37'

        - python: '3.6'
          tox_env: 'py36-dj111-drf39'

        - python: '3.6'
          tox_env: 'py36-dj20-drf39'

        - python: '3.6'
          tox_env: 'py36-dj21-drf39'

        - python: '3.6'
          tox_env: 'py36-dj22-drf39'

        - python: '3.6'
          tox_env: 'py36-dj30-drf310'

        - python: '3.7'
          tox_env: 'py37-dj111-drf37'

        - python: '3.7'
          tox_env: 'py37-dj20-drf37'

        - python: '3.7'
          tox_env: 'py37-dj21-drf37'

        - python: '3.7'
          tox_env: 'py37-dj22-drf37'

        - python: '3.7'
          tox_env: 'py37-dj111-drf39'

        - python: '3.7'
          tox_env: 'py37-dj20-drf39'

        - python: '3.7'
          tox_env: 'py37-dj21-drf39'

        - python: '3.7'
          tox_env: 'py37-dj22-drf39'

        - python: '3.7'
          tox_env: 'py37-dj30-drf310'

    runs-on: ubuntu-latest
    name: Python ${{ matrix.python }} with packages ${{ matrix.tox_env }}
    steps:
    - uses: actions/checkout@v3

    - name: set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}

    - name: install dependencies
      run: python -m pip install "tox~=3.22.0" "coverage<4" "setuptools<40.0.0"

    - name: run test suite
      env:
        TOX_ENV: ${{ matrix.tox_env }}
      run: tox -ve $TOX_ENV

    - name: run coverage
      env:
        TOX_ENV: ${{ matrix.tox_env }}
      run: |
        python -m pip install codecov
        codecov -e TOX_ENV
